{
  "scriptId": "REPLACE_WITH_A_NEW_PRIVATE_APPS_SCRIPT_PROJECT_ID",
  "rootDir": ".",
  "scriptExtensions": [
    ".js",
    ".gs"
  ],
  "htmlExtensions": [
    ".html"
  ],
  "jsonExtensions": [
    ".json"
  ],
  "filePushOrder": [],
  "skipSubdirectories": false
}
